@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 160%;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
    min-width: 320px;
    -webkit-text-size-adjust: none;
    word-wrap: break-word;
    word-break: break-all;
    font-family: "Noto Sans KR", sans-serif;
}

main, header, section, nav, footer, aside, article, 
figure, figcaption, menu, details, hgroup {
    display: block;
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}

fieldset, img {
    border: 0;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

dl, ul, ol, menu, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

input, select, textarea, button {
    vertical-align: middle;
    border: 0;
    background: transparent;
}

label {
    cursor: pointer;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:link, a:visited {
    color: #666;
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
    font-family: "Black Han Sans";
}

h2 {
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

h3 {
    font-size: 1.2rem;
    font-family: "Noto Sans KR", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff8e7;;
}

h4, h5, h6 {
    font-size: 1rem;
    font-family: "Noto Sans KR", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* 접근성 메뉴  */
#skip a {
    position: absolute;
    top: -6.25rem;
    width: 18.75rem;
}

#skip a:active, #skip a:focus {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1.25rem;
    background: #333;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* 폼 태그 */
.input {
    width: 100%;
    padding: 0 0.625rem;
    border: 1px solid #d8d8d8;
    line-height: 1.75rem;
}

.input::-moz-placeholder {
    color: #bbb;
    opacity: 1;
}

.input:-ms-input-placeholder {
    color: #bbb;
}

.input::-webkit-input-placeholder {
    color: #bbb;
}

input[type="text"], input[type="password"], textarea {
    padding: 5px;
}

legend, caption, hr, .blind {
    position: absolute;
    left: -9999px;
    top: 0;
    visibility: hidden;
    overflow: hidden;
    line-height: 0.1%;
    font-size: 0.1%;
    width: 0.1%;
    height: 0.1%;
}

input[type="button"], input[type="submit"],
input[type="reset"], input[type="image"], button {
    cursor: pointer;
    background: transparent;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.radio {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.radio + label {
    display: inline-block;
    padding: 0 5px;
    font-size: 13px;
    vertical-align: middle;
}

.radio + label > span {
    content: "";
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 1px solid #727272;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    border-radius: 50%;
    vertical-align: middle;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.radio:checked + label > span:after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    height: auto;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    border-radius: 50%;
    background-color: #727272;
    -ms-border-radius: ;
    -o-border-radius: ;
}

/* 그리드 시스템 */
.row {
    margin: 0 -8px;
}

.row:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {padding: 0 8px;}

.xs-show, .sm-show, .md-show .lg-show {display: none;}

/* 공통 클래스 */
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
}

.hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}