@charset "UTF-8";

.container {
    margin: 5% 0;
}
.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
.navbar {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


/* 로고 */
.navbar_logo {
    flex-basis: 35%;
    width: 100%;
    padding: 1rem 0;
}

/* 상단 메뉴 */
.navbar_gnb {flex-basis: 35%;}
.navbar_gnb_list {
    display: flex;
    padding: 0.7143rem 0;
}

.navbar_gnb li {
    padding: 0.4286rem 1.1429rem;
    margin: 0 0.8571rem;
    border: 2px solid #333333;
    border-radius: 0.8571rem;
    text-align: center;
    width: 7.1429rem;
}

.navbar_gnb li:hover {background: #5d5d5d;}
.navbar_gnb li:hover a {color: #fff8e7;}

.navbar_gnb li a {
    font-family: "Noto Sans KR", sans-serif;
    color: #000000;
    font-size: 1rem;
}

/* 개인정보 아이콘 */
.navbar_logbox {flex-basis: 30%;}
.navbar_logbox_list {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
}

.navbar_logbox li {
    padding: 0 15px;
    font-size: 2rem;
}

.navbar_logbox li a {color: #000000;}

/* 햄버거버튼 */
#Hbtn {display: none;}

/* 이벤트 베너 (youtube) */
.video {
    width: 100%; 
    height: 100%;
    }
#Event_bnr {
    position: relative;
    height: 0;
    padding-bottom: 48%;
}
#youtube {
    position: absolute;
    top: 0;
    left: 0;
}

/* Product_slide, Room_slide  */
.slide_list {
    position: relative;
    white-space: nowrap;
    margin-bottom: 50px;
}

.slide > img {
    text-align: center
}

.slide > figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

figcaption {
    text-align: center;
    font-size: 2rem;
    color: #fff8e7;}

#Product_slide li:nth-child(1) figcaption {
    padding: 0 2rem;
    background: rgba(120,1,15,.4);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#Product_slide li:nth-child(2) figcaption {
    padding: 0 1rem;
    background: rgba(77,67,77,.3);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#Product_slide li:nth-child(3) figcaption {
    padding: 0 1rem;
    background: rgba(54,54,54,.4);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.slide_list button.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background: rgba(0,0,0,.2);
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.slide_list button::before {font-family: "xeicon"; font-size: 2rem; color:#fff8e7;}
.slide_list button.slick-prev {left: 5%; font-size: 0; color: transparent;}
.slide_list button.slick-prev::before {content: "\e93b";}
.slide_list button.slick-next {right: 5%; font-size: 0; color: transparent;}
.slide_list button.slick-next::before {content: "\e93e";}

.slide_list {position: relative;}
.slide_list a {
    display: block; 
    height: calc(100vh - 50%);
}

.slick-dots {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.slick-dots > li {
    display: inline-block;
    text-align: center;
    padding: 0 30px;
}

.slick-dots > li > button {
    font-size: 0;
    background: rgba(0,0,0,.5);
    width: 15px;
    height: 10px;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

.slick-dots > li.slick-active > button {
    font-size: 0;
    width: 19px;
    height: 10px;
    background: #ffffff;
    border: 1px solid #5d5d5d;
    transition: all 0.4s linear;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

/* 제목, 기사, 상품 이미지, 버튼 (공통)*/

.title {
    position: relative;
    margin: 1rem 0;
    }
.plus_btn {
        position: absolute;
        right: 0px;
        top: 50%;
        transform:translateY(-50%) ;
        -webkit-transform:translateY(-50%) ;
        -moz-transform:translateY(-50%) ;
        -ms-transform:translateY(-50%) ;
        -o-transform:translateY(-50%) ;
        }

.article_img, .pdt_img, .Up_pdt_img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.slide_img {
    border-radius:0 ;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    -ms-border-radius:0 ;
    -o-border-radius:0 ;
    }

.Mbtn {
    display: flex;
    justify-content: center;
    margin: 3% 0;
    }

/* 메인 베너 */

.article_contents {position: relative;}

.article_name {
    position: absolute;
    left: 5%;
    bottom: 5%;
    color: #8d8d8d;
    }

.article2 {margin-bottom: 16px;}

.article1 ul.article_name h3 {
    font-size: 1.5rem;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgba(0,0,0,.3);
}

.article2 ul.article_name h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #b0110e;
    text-shadow: 2px 2px 1px rgb(0,0,0,.4);
}


.article2 ul.article_name p {
    color: #000;
}


.article3 ul.article_name h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #ea5191;
    text-shadow: 2px 2px 1px rgba(0,0,0,.3);
}
.article4 ul.article_name h3 {
    font-size: 1.5rem;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgba(0,0,0,.3);
}

.toggle_show {
    display: none;
    margin: 16px auto;
}

.toggle_show.visible {
    display: block;
}

.article5 {
    margin-bottom: 16px;
}


/* 상품 */
.pdt_contents {
    position: relative;
    overflow: hidden;
}

.pdt_contents:hover .pdt_list {
    left: 5%;
    transition: left 0.8s cubic-bezier(0.02, 0.53, 1, 1);
    -webkit-transition: left 0.8s cubic-bezier(0.02, 0.53, 1, 1);
    -moz-transition: left 0.8s cubic-bezier(0.02, 0.53, 1, 1);
    -ms-transition: left 0.8s cubic-bezier(0.02, 0.53, 1, 1);
    -o-transition: left 0.8s cubic-bezier(0.02, 0.53, 1, 1);
}

.pdt_logo {
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}
.pdt_list {
    position: absolute;
    left: 100%;
    bottom: 5%;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,.4);
    }

.pdt_list .pdt_price {
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.pdt_list > li:first-child {
    height: 40px;
    font-size: 0;
}

.pdt_list .pdt_logo:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.pdt_list .pdt_logo {
    vertical-align: middle;
}
.pdt_name {
    font-size: 1rem;
}

/* 출시상품 */
.Up_pdt_contents {
    position: relative;
    overflow: hidden;
}

.Up_pdt_date {
    position: absolute;
    right: 5%;
    top: 5%;
    }

.Up_pdt_list {
    margin-top: 5%;
}

/* .Up_pdt_list > li:first-child {
    height: 40px;
    font-size: 0;
}

.Up_pdt_list > li:first-child:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Up_pdt_list > li:first-child > img {
    vertical-align: middle;
} */

/* 쇼룸슬라이드 */
#Room_slide figure.slide img {
    width: 100vw;
}

#Room_slide .slide_list figcaption {
    padding: 0 1rem;
    background: rgb(0,0,0,.4);
    border-radius: 7px;
    font-family: "Bai Jamjuree"
}

#Room_slide .slide_list figcaption p:last-child {
    font-size: 0.8em;
}

/* footer */

#footer {
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-top: auto;
    color: #3d3d3d;
}

.footer_gnb {
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d1d1d1;
    }

.footer_gnb_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.footer_gnb_list li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    margin-right: 10px;
}

.footer_gnb_list li:not(:last-child):after {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #adadad;
}

.footer_gnb_list li a:hover {
    color: #b2100f;
    cursor: pointer;
}

address {
    margin: 1rem 0;
    display: flex;
}

.kream {
    margin-bottom: 1rem;
    flex-basis: 60%;
}

.cs {
    margin-bottom: 1rem;
    flex-basis: 40%;
    text-align: right;
}

.social {display: flex; font-size: 1.6rem; margin: 1rem 0;}
.sns > h4 {
    color: #333;
    font-size: 1rem;
    margin-left: 30px;
    line-height: unset;
}
.store > h4 {
    margin-right: 30px;
    color: #333;
    font-size: 1rem;
    line-height: unset;}

.sns {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
}

.store {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-start;
}

.sns > ul {
    display: flex;
}
.sns > ul > li {
    margin-left: 30px;
}

.store > ul {
    display: flex;
}

.store > ul > li {
    margin-right: 30px;
}

.info {
    display: flex;
    border-top: 1px solid #d1d1d1;
    padding-top: 3rem;
    text-align: center;
    margin: 2rem 0;
}
.info p {
    flex-basis: 80%;
    text-align: left;
}

.info .copyright {
    display: flex;
    margin: 1rem 0;
    flex-basis: 20%;
    justify-content: flex-end;
}

/* 0 ~ 768 일떄 */
@media screen and (max-width: 768px) {
    html,body {font-size: 13px;}
    figcaption {font-size: 1.5rem;}

    #hd > .wrapper {
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .navbar_logo {
        width: 100%;
        background: #ffffff;
        z-index: 5;
    }

    .navbar_gnb, 
    .navbar_logbox {
        position: absolute;
        background: #ffffff;
        top: -100%;
    }

    .navbar_gnb_list {
        display: block;
    }
    .navbar_gnb li {
        margin: 5px;
        text-align: center;
    }

    .navbar_gnb.pull, 
    .navbar_logbox.pull {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: absolute;
        background-color: fff8e7;
        width: 100%;
        transition: top 2s cubic-bezier(0, 0.66, 1, 1);
        -webkit-transition: top 2s cubic-bezier(0, 0.66, 1, 1);
        -moz-transition: top 2s cubic-bezier(0, 0.66, 1, 1);
        -ms-transition: top 2s cubic-bezier(0, 0.66, 1, 1);
        -o-transition: top 2s cubic-bezier(0, 0.66, 1, 1);
}
.navbar_gnb.pull {top: 93%; height: 185px; z-index: 2;}
.navbar_logbox.pull {top: 205%; height: 85px; z-index: 1;}

    #Hbtn {
        display: block;
        position: absolute;
        right: 50px;
        top: 55px;
        background: transparent;
        z-index: 10;
    }
    #Hbtn span {
        display: block;
        height: 2px;
        width: 25px;
        background: #000000;
        margin: 5px 0;
        border-radius: 20px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    #Hbtn.act span:first-child {
        width: 30px;
        transform: rotate(-45deg) translateY(10px);
        -webkit-transform: rotate(-45deg) translateY(10px);
        -moz-transform: rotate(-45deg) translateY(10px);
        -ms-transform: rotate(-45deg) translateY(10px);
        -o-transform: rotate(-45deg) translateY(10px);
    }
    #Hbtn.act span:nth-child(2) {
        width: 0;
        transition:none ;
        -webkit-transition:none ;
        -moz-transition:none ;
        -ms-transition:none ;
        -o-transition:none ;

    }
    #Hbtn.act span:last-child {
        width: 30px;
        transform: rotate(45deg) translateY(-10px);
        -webkit-transform: rotate(45deg) translateY(-10px);
        -moz-transform: rotate(45deg) translateY(-10px);
        -ms-transform: rotate(45deg) translateY(-10px);
        -o-transform: rotate(45deg) translateY(-10px);
    }

    /* .article1 .article_name p {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } */

    .pdt_list {
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 400px;
        padding: 10px;
        border-radius: 10px;
        }
    
    .pdt_list .pdt_price {
        text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    }

    #Room_slide .wrapper {
        width: 100%;
    }

    #Quick_menu {display: none;}

    #footer {
        font-size: 0.6rem;
        text-align: start;
    }
}

/* 0 ~ 460 일떄 */
@media screen and (max-width: 460px) {
    html,body {font-size: 12px;}
    figcaption {font-size: 1rem;}

    br {display: none;}

    #Main_bnr .article {margin-bottom: 1rem;}
    #Main_bnr > .article > img {
        width: 100%;
        height: auto;}
    .article {text-align: center;}
    .article_contents {display: inline-block; text-align: left;}

    .slide_list .slick-arrow {
        visibility: hidden;
    }

    #Product .pdt {margin-bottom: 1rem;}
    .pdt {text-align: center}
    .pdt_contents {display: inline-block; text-align: left}


    #Up_product .Up_pdt {margin-bottom: 1rem;}
    .Up_pdt {text-align: center}
    .Up_pdt_contents {display: inline-block; text-align: left}
    .slick-slide img {
        display: inline-block;
    }

    .mobile_slider {
        position: relative;
    }

    .mobile_slider button {
        display: inline-block;
        position: absolute;
        z-index: 10;
        font-size: 2rem;
        color: #000000;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}

    .mobile_slider .slick-prev {
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    .mobile_slider .slick-next {
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }


/* footer */

    address {
        flex-flow: column wrap;
    }

    address .cs {
    margin-bottom: 1rem;
    flex-basis: 40%;
    text-align: left;
    }

    .store, .sns {
        display: block;
    }

    .info {
    display: block; 
    border-top: 1px solid #d1d1d1;
    padding-top: 2rem;
    text-align: center;
    margin: 2rem 0;
    }

    .info p.copyright {
        display: block;
        text-align: center;
    }
}

/* Top_nav (서브페이지 공통) */
#Top_nav {
    margin: 1% auto;
    padding-left: 3%;
}

.main_page {
    display: inline-block;
    color: #5d5d5d;
}

.main_page::after{
    content: ">";
    margin: 0 10px;
    color: black;
}

/* 발매정보 페이지 */
.calendar {
    max-width: 1200px;
    padding: 0 3%;
    overflow: hidden;
    position: relative;
}

.calendar > button {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.prev_btn {left: 10px;}
.next_btn {right: 10px;}

.calendar_date {
    width: 5000px;
}

.calendar_date li {
    display: inline-block;
    margin: 10px 30px;
}

.month, .day {
    width: 50px;
    text-align: center;
}

.Up_pdt_list p {
    font-size: 1rem;
}

#Up_product_subpage .Up_pdt_list {
    margin: 0;
    padding: 0 5%;
}

#Up_product_subpage .Up_pdt_name {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 0.8em;
}
#Up_product_subpage .Up_pdt_price {
    color: black;
    font-size: 2em;
}
#Up_product_subpage .Up_time {
    font-size: 2em;
}
#Up_product_subpage .Up_pdt_name_kr {
    font-size: 1.4em;
    margin-bottom: 0.8em;
}

.Up_pdt_link {
    margin-top: 4%;
    padding: 0 3%;
}

.Up_pdt_link li {
    display: inline-block;
    margin-right: 5%;
}

.link_box {
    position: relative;
    width: 80px;
    height: 100px;
    background-color: #BFBFBF;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.text_box {
    position: absolute;
    text-align: center;
    width: 60px;
    left: 13%;
    top: 3%;
}

.link_name::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 2px;
    background-color: rgba(255,255,255,.5);
    top: 100%;
    left: -10%;
    margin: 10% auto;
}

.link_img {
    position: absolute;
    left: 29%;
    top: 58%;
}

/* Up_product 전체보기 페이지 */

#Up_product_total > .container {
    margin: 2% 0;
}

#Up_product_total .Up_pdt_logo {
    position: absolute;
    top: 5%;
    left: 5%;
}

#Up_product_total .Up_pdt_name {
    text-align: center;
}

.shadow {
    max-width: 100%;
    position: absolute;
    width: 290px;
    height: 370px;
    background-color: rgba(0,0,0,.2);
    top: 0;
    left: 0;
    border-radius: 20px 20px;
    -webkit-border-radius: 20px 20px;
    -moz-border-radius: 20px 20px;
    -ms-border-radius: 20px 20px;
    -o-border-radius: 20px 20px;
    opacity: 0;
}

.btn_box {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    /* opacity: 0; */
    
}

.btn_link {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    text-shadow: 1px 2px 3px rgba(0,0,0,.3);
    font-style: normal;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#Up_product_total .Up_pdt_contents:hover .Up_pdt_name {
    opacity: 0;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
}

#Up_product_total .Up_pdt_contents:hover .shadow {
    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.61, 1.16, 1, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.61, 1.16, 1, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.61, 1.16, 1, 1);
    -ms-transition: opacity 0.5s cubic-bezier(0.61, 1.16, 1, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.61, 1.16, 1, 1);
}