@charset "UTF-8";

.container {
    max-width: 1200px;
    margin: 5% auto;
}

/* 헤더 */
.navbar {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #000000;
}

/* 로고 */
.navbar_logo {
    padding: 28px 35px;
    text-align: left;
}
.navbar_logo strong {
    font-family: "Black Han Sans";
    font-size: 2.5rem;
    font-style: italic;
    color: #fff8e7;
}
.navbar_logo span {
    display: block;
    font-family: "Bai Jamjuree";
    font-weight: bold;
    font-size: 0.2rem;
    color: #fff8e7;
}

/* 메뉴 */
.navbar_gnb_list {
    display: flex;
    padding: 10px 0;
}

.navbar_gnb li {
    padding: 6px 16px;
    margin: 0 12px;
    border: 2px solid #333333;
    border-radius: 12px;
    text-align: center;
    width: 100px;
}

.navbar_gnb li:hover {background: #5d5d5d;}

.navbar_gnb li a {
    font-family: "Noto Sans KR", sans-serif;
    color: #fff8e7;
    font-size: 1rem;
}

/* 개인정보란 */
.navbar_logbox_list {
    display: flex;
    padding: 30px 35px;
}

.navbar_logbox li {
    padding: 0 15px;
    font-size: 1.8rem;
}

.navbar_logbox li a {color: #fff8e7;}

/* 햄버거버튼 */
#Hbtn {display: none;}

/* header-@media */
@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_gnb, 
    .navbar_logbox {
        display: none;
    }
    .navbar_gnb_list {
        display: block;
    }
    .navbar_gnb li {
        margin: 5px;
        text-align: center;
    }
    .navbar_gnb.pull, 
    .navbar_logbox.pull {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
    }
    
    #Hbtn {
        display: block;
        position: absolute;
        right: 35px;
        top: 50px;
        background: transparent;
    }
    #Hbtn span {
        display: block;
        height: 2px;
        width: 20px;
        background: #fff8e7;
        margin: 5px 0;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    #Hbtn.act span:first-child {
        width: 25px;
        transform: rotate(-45deg) translateY(10px);
        -webkit-transform: rotate(-45deg) translateY(10px);
        -moz-transform: rotate(-45deg) translateY(10px);
        -ms-transform: rotate(-45deg) translateY(10px);
        -o-transform: rotate(-45deg) translateY(10px);
    }
    #Hbtn.act span:nth-child(2) {
        width: 0;
        transition:none ;
        -webkit-transition:none ;
        -moz-transition:none ;
        -ms-transition:none ;
        -o-transition:none ;

    }
    #Hbtn.act span:last-child {
        width: 25px;
        transform: rotate(45deg) translateY(-10px);
        -webkit-transform: rotate(45deg) translateY(-10px);
        -moz-transform: rotate(45deg) translateY(-10px);
        -ms-transform: rotate(45deg) translateY(-10px);
        -o-transform: rotate(45deg) translateY(-10px);
    }

    #Icon_set {display: none;}
}

/* 이벤트 베너 (youtube) */
#Event_bnr {
    position: relative;
    height: 0;
    padding-bottom: 56%;
}
#youtube {
    position: absolute;
    top: 0;
    left: 0;
}

/* sns */
#Icon_set {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    text-align: center;
    z-index: 10;
}

#Icon_set a {
    display: block;
    padding: 15px;
    color: #333333;
}

/* slickslider */
#mainBanner {
    position: relative;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
    font-size: 3em;
    background: transparent;
    color: tomato;
}
.prevBtn {left: 50px;}
.nextBtn {right: 50px;}
.slick-slide {position: relative;}
.slick-slide a {
    display: block; 
    height: calc(100vh - 50%);
}

/* 제목, 기사, 상품 이미지, 버튼 (공통)*/

.title {position: relative;}
.plus_btn {
           position: absolute;
           right: 0px;
           top: 50%;
           transform:translateY(-50%) ;
           -webkit-transform:translateY(-50%) ;
           -moz-transform:translateY(-50%) ;
           -ms-transform:translateY(-50%) ;
           -o-transform:translateY(-50%) ;
        }

.slide_img {
    border-radius:0 ;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    -ms-border-radius:0 ;
    -o-border-radius:0 ;
    }

.Mbtn {
    display: flex;
    justify-content: center;
    margin: 3% 0;
    }

.article, .pdt, .Up_pdt {
    border: 1px solid red;
    position: relative;
    }

/* 메인 베너 */
.article2 {margin-bottom: 16px;}

.article_name {
    position: absolute;
    left: 5%;
    bottom: 5%;
    color: #8d8d8d;
    }

/* 상품 */
.pdt_list {
    position: absolute;
    left: 5%;
    bottom: 5%;
    }

/* 출시상품 */
.Up_pdt_date {
    position: absolute;
    right: 5%;
    top: 5%;
    }

/* footer */