/* 발매정보 페이지 */

/* 발매일(달력) */
.calendar {
    max-width: 1200px;
    padding: 0 3%;
    overflow: hidden;
    position: relative;
}

.calendar > button {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.prev_btn {left: 10px;}
.next_btn {right: 10px;}

.calendar_date {
    width: 5000px;
}

.calendar_date li {
    display: inline-block;
    margin: 10px 25px;
}

.month, .day {
    width: 50px;
    text-align: center;
}

.day_num {
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.day:hover .day_num {
    background-color: #BFBFBF;
    border-radius: 100%;
}

.actday {
    background-color: #BFBFBF;
    border-radius: 50%;
}

/* .prev_actbtn {
    margin-left: -100px;
}

.next_actbtn {
    margin-right: 50px;
} */

/* 발매리스트 */

.Up_pdt_list p {
    font-size: 1rem;
}

#Up_product_subpage .Up_pdt_list {
    margin: 0;
    padding: 0 5%;
}

#Up_product_subpage .Up_pdt_name {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 0.8em;
}
#Up_product_subpage .Up_pdt_price {
    color: black;
    font-size: 2em;
}
#Up_product_subpage .Up_time {
    font-size: 2em;
}
#Up_product_subpage .Up_pdt_name_kr {
    font-size: 1.4em;
    margin-bottom: 0.8em;
}

.Up_pdt_link {
    margin-top: 4%;
    padding: 0 3%;
}

.Up_pdt_link li {
    display: inline-block;
    margin-right: 5%;
}

.link_box {
    position: relative;
    width: 80px;
    height: 100px;
    background-color: #BFBFBF;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.text_box {
    position: absolute;
    text-align: center;
    width: 60px;
    left: 13%;
    top: 3%;
}

.link_name::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 2px;
    background-color: rgba(255,255,255,.5);
    top: 100%;
    left: -10%;
    margin: 10% auto;
}

.link_img {
    position: absolute;
    left: 29%;
    top: 58%;
}